<%- include('partials/head')  %>

</head>
<body>
  <%- include('partials/nav')  %>

      <main class="flex items-center flex-col h-[50vh]">
        <h1 class="text-red-700 font-bold my-[30px]">404 Page not found</h1>
      </main>
</body>
</html>