<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 page not found</title>
    <link rel="stylesheet" href="/output.css">
</head>
<body>
    <nav class="bg-red-500 h-6 text-white font-sans text-[8px] flex items-center gap-4 px-4">
        <a href="/" >Go to Home</a>
        <a href="/host/add-home">Add Home</a>
      </nav>
      <main class="flex items-center flex-col h-[50vh]">
        <h1 class="text-red-700 font-bold my-[30px]">404 Page not found</h1>
      </main>
</body>
</html>